@use "sass:map";

@use "bootstrap/scss/bootstrap";

// Breakpoint name at which table of contents appears beside the document.
$toc-breakpoint-size: sm !default;

// Breakpoint at which table of contents appears beside the document.
$toc-breakpoint: map.get(bootstrap.$grid-breakpoints, $toc-breakpoint-size) !default;

// Container is a column with multiple rows.
.container {
  @extend .col;
  @extend .d-flex;
  @extend .flex-column;
  @extend .overflow-hidden;

  // max-width is set within Bootstrap; unset it.
  max-width: unset;
}

// Header, body, and footer are rows within container.
.header, .body, .footer {
  @extend .row;
}

// Body takes up entire container less space for header and footer.
.body {
  @extend .flex-fill;
}

// Table of contents takes 25% of the space above the breakpoint and is not printable.
.toc {
  @extend .col-#{$toc-breakpoint-size}-3;
  @extend .d-print-none;
}

// Content takes up remainder of the space.
.content {
  @extend .col;
}

@media screen {
  // Container is limited to viewport width and height.
  .container {
    width: 100vw;
    height: 100vh;
  }
}

// Up to breakpoint.
@media screen and (max-width: calc($toc-breakpoint - 1px)) {
  // Enable overflow on body.
  .body {
    overflow: auto !important;
  }
}

// Above breakpoint.
@media screen and (min-width: $toc-breakpoint) {
  // Disable overflow on body.
  .body {
    overflow: hidden !important;
  }

  // Limit height and enable overflow on table of contents and content.
  .toc, .content {
    max-height: 100% !important;
    overflow: auto !important;
  }
}

// Reset example counter.
.example-counter-reset {
  counter-reset: example-counter;
}

// Reset figure counter.
.figure-counter-reset {
  counter-reset: figure-counter;
}

// Reset table counter.
.table-counter-reset {
  counter-reset: table-counter;
}

// Counters are reset when content is generated.
.content {
  counter-reset: example-counter figure-counter table-counter;
}

// Increment example counter and format example title and number.
.example-number {
  counter-increment: example-counter 1;
  font-weight: bold;
}

// Alias example number after.
.example-number-after {
  @extend .example-number;
}

// Apply example number after example title.
.example-number-after::after {
  content: " " counter(example-counter);
}

// Alias example number before.
.example-number-before {
  @extend .example-number;
}

// Apply example number before example title.
.example-number-before::before {
  content: counter(example-counter) ". ";
}

// Format example caption.
.example-caption {
  font-style: italic;
}

// Increment figure counter and format figure title and number.
.figure-number {
  counter-increment: figure-counter 1;
  font-weight: bold;
}

// Alias figure number after.
.figure-number-after {
  @extend .figure-number;
}

// Apply figure number after figure title.
.figure-number-after::after {
  content: " " counter(figure-counter);
}

// Alias figure number before.
.figure-number-before {
  @extend .figure-number;
}

// Apply figure number before figure title.
.figure-number-before::before {
  content: counter(figure-counter) ". ";
}

// Format figure caption.
.figure-caption {
  font-style: italic;
}

// Increment table counter and format table title and number.
.table-number {
  counter-increment: table-counter 1;
  font-weight: bold;
}

// Alias table number after.
.table-number-after {
  @extend .table-number;
}

// Apply table number after table title.
.table-number-after::after {
  content: " " counter(table-counter);
}

// Alias table number before.
.table-number-before {
  @extend .table-number;
}

// Apply table number before table title.
.table-number-before::before {
  content: counter(table-counter) ". ";
}

// Format table caption.
.table-caption {
  font-style: italic;
}
