name: github pages

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-24.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v2

      - name: Install mdBook
        uses: peaceiris/actions-mdbook@v2
        with:
          mdbook-version: '0.4.52'

      - name: Install mdbook-bib
        uses: baptiste0928/cargo-install@v3
        with:
          crate: mdbook-bib
          version: '=0.0.7'
          locked: true

      - name: Install mdbook-mermaid
        uses: baptiste0928/cargo-install@v3
        with:
          crate: mdbook-mermaid
          version: '=0.16.0'
          locked: true

      - name: Install mdbook-pagetoc
        uses: baptiste0928/cargo-install@v3
        with:
          crate: mdbook-pagetoc
          version: '=0.2.2'
          locked: true

      - name: Install mdbook-tera
        uses: baptiste0928/cargo-install@v3
        with:
          crate: mdbook-tera
          version: '=0.6.0'
          locked: true

      - name: Build
        run: mdbook build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./book
